<!DOCTYPE HTML>
       
          <html>
              <head>
                  <title>一號會議室</title>
                  <meta charset="utf-8" />
                  <meta name="viewport" content="width=device-width, initial-scale=1" />
                  <link rel="stylesheet" href="/css/test3.css" />
              </head>
              <body onload="showTime()">
          
                  <!-- Header -->
                      <header id="header">
                       
                          <div class="logo"><a href="#">重要測試</a></div>
                          <h2>現在時間</h2>
                          <div id ="time"></div>
                          <section id="main">
                          <div class="inner">
          
                          <!-- One -->
                              <section id="one" class="wrapper style1">
                                <div class="image fit flush">
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHQAAAB0CAYAAABUmhYnAAAAAklEQVR4AewaftIAAAKYSURBVO3BQW7sWAwEwSxC979yzl9y9QBB6rbNYUT8hzVGsUYp1ijFGqVYoxRrlGKNUqxRijVKsUYp1ijFGqVYoxRrlGKNUqxRLh5KwjepnCThRKVLQqfSJeGbVJ4o1ijFGqVYo1y8TOVNSXhCpUtCp3KHypuS8KZijVKsUYo1ysWHJeEOlTuS0Kl0SfikJNyh8knFGqVYoxRrlIvhVLokdEnoVP6yYo1SrFGKNUqxRinWKMUapVijXHyYyjcloVPpVLokPKHymxRrlGKNUqxRLl6WhJ+k0iWhU3kiCb9ZsUYp1ijFGuXiIZW/JAl3qPwlxRqlWKMUa5SLh5LQqXRJeJNKp9IloVM5ScJJEt6k8knFGqVYoxRrlIuXJeFE5YkkdCqfpNIloVM5ScJJEjqVJ4o1SrFGKdYoFy9T6ZLQJaFT6ZJwotIloVM5SUKn0iWhU+lUuiR0Kj+pWKMUa5RijXLxw5LQqXySyonKSRLepPKmYo1SrFGKNcrFl6nckYQTlS4Jd6h0SehUOpUuCV0STpJwovJEsUYp1ijFGiX+wx+WhJ+k8psUa5RijVKsUS4eSsI3qXQqXRI6lZMkdCpdEp5IQqfyScUapVijFGuUi5epvCkJJ0noVLok3JGEJ5JwkoQTlSeKNUqxRinWKBcfloQ7VN6kcpKETuUkCScqP6lYoxRrlGKNcjFMEjqVb0pCp/JNxRqlWKMUa5SL/5kkdCpdEjqVkyT8JsUapVijFGuUiw9T+SSVLgldEjqVE5UnVLoknKi8qVijFGuUYo1y8bIkfFMS7khCp9IloVO5IwmdyjcVa5RijVKsUeI/rDGKNUqxRinWKMUapVijFGuUYo1SrFGKNUqxRinWKMUapVijFGuUYo3yH9Eh7fcUtIb1AAAAAElFTkSuQmCC">
                                    </div>
                                  <div class="content">
                                      
                                  </div>
                              </section>
          
                      
                      </header>
                      <div id="sc">
                      <table BORDER="1" align=center style="width:850px;height:400px;color:black;font-size:30px;font-family:DFKai-sb;">

                      <tr>
                          <td>時間/星期</td>
                          <td>星期一</td>
                          <td>星期二</td>
                          <td>星期三</td>
                          <td>星期四</td>
                          <td>星期五</td>
                      </tr>
                      <tr>
                          <td>7:00-8:00</td>
                          <td><%=meetingnamemonday[0] %></td>
                          <td><%=meetingnametwo[0] %>  </td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>8:00-9:00</td>
                          <td><%=meetingnamemonday[1] %></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>9:00-10:00</td>
                          <td><%= meetingnamemonday[2]%></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>10:00-11:00</td>
                          <td><%= meetingnamemonday[3]%> </td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>11:00-12:00</td>
                          <td><%= meetingnamemonday[4]%></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>13:00-14:00</td>
                          <td><%= meetingnamemonday[5]%></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
                          <td>14:00-15:00</td>
                          <td><%= meetingnamemonday[6]%></td>
                          <td></td>
                          <td></td>
                          <td><%= realtest[0].meetingname%></td>
                          <td></td>
                      </tr>
                      <tr>
                      <td>15:00-16:00</td>
                      <td><%= meetingnamemonday[7]%></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                     <tr>
                          <td>17:00-18:00</td>
                          <td><%= meetingnamemonday[8]%></td>
                          <td>  </td>
                          <td>  </td>
                          <td></td>
                          <td></td>
                      </tr>
                      </table>
                    </div>
                      
               
          
                  <!-- Scripts -->
                      <script src="/js/jquery.min.js"></script>
                      <script src="/js/jquery.poptrox.min.js"></script>
                      <script src="/js/skel.min.js"></script>
                      <script src="/js/util.js"></script>
                      <script src="/js/main.js"></script>
                      <script>function showTime(){
                          var today =new Date();
                          var h = today.getHours();
                          var m = today.getMinutes();
                          var s = today.getSeconds();
                          document.getElementById('time').innerHTML = h+":"+m+":"+s;
                          setTimeout(function(){showTime()},500);

                          
                      }</script>
          
              </body>
          </html>