<!DOCTYPE HTML>
       
          <html>
              <head>
                  <title>一號會議室</title>
                  <meta charset="utf-8" />
                  <meta name="viewport" content="width=device-width, initial-scale=1" />
                  <link rel="stylesheet" href="/css/test3.css" />
              </head>
              <body onload="showTime()">
          
                  <!-- Header -->
                      <header id="header">
                       
                          <div class="logo"><a href="#"><%= meetingname.meetingname %></a></div>
                          <h2>現在時間</h2>
                          <div id ="time"></div>
                          <section id="main">
                          <div class="inner">
          
                          <!-- One -->
                              <section id="one" class="wrapper style1">
                                <div class="image fit flush">
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAHQAAAB0CAYAAABUmhYnAAAAAklEQVR4AewaftIAAAKaSURBVO3BQQ7bQAwEwR5C//9yx0eeFjAkOw7DqvjCGqNYoxRrlGKNUqxRijVKsUYp1ijFGqVYoxRrlGKNUqxRijVKsUYp1igXNyXhm1ROknCHSpeEb1K5o1ijFGuUYo1y8TCVJyXhHSpdEk5U3qHypCQ8qVijFGuUYo1y8WFJeIfKO5LwNyXhHSqfVKxRijVKsUYp1ijFGqVYoxRrlIthVLokdCpdEjqVf1mxRinWKMUa5eLDVH5JEjqVO1R+SbFGKdYoxRrl4mFJ+GUqXRI6lZMk/LJijVKsUYo1SnzhH5aEE5X/SbFGKdYoxRrl4qYkdCpdEp6k0ql0SThJQqdykoQnqXxSsUYp1ijFGiW+8EVJeIdKl4QTlZMkPEnljiR0KncUa5RijVKsUeILNyShU3lHEjqVLgl3qJwkoVPpknCi0iXhHSpPKtYoxRqlWKPEFx6UhE7llyThl6ncUaxRijVKsUaJL9yQhCepdEm4Q+UkCZ3KO5LQqfxNxRqlWKMUa5SLm1Q+SeUkCd+UhJMk3KFyR7FGKdYoxRrl4qYkfJNKp9Il4SQJnUqXhE6lUzlJQqfSJaFTeVKxRinWKMUa5eJhKk9KwkkSOpUTlROVJyXhJAmdyh3FGqVYoxRrlIsPS8I7VO5IQqfSJaFT6ZLQqXRJOFE5SUKn8qRijVKsUYo1ysVwSThJwkkS3pGETqVT+aRijVKsUYo1ysV/RqVLQqfSJaFT+WXFGqVYoxRrlIsPU/kklZMkdEk4ScJJEjqVkyR0Kp9UrFGKNUqxRrl4WBK+KQmdSqdykoRO5SQJ71DpktCpPKlYoxRrlGKNEl9YYxRrlGKNUqxRijVKsUYp1ijFGqVYoxRrlGKNUqxRijVKsUYp1ijFGuUP8CT63inwuG8AAAAASUVORK5CYII=">
                                    </div>
                                  <div class="content">
                                      
                                  </div>
                              </section>
          
                      
                      </header>
                      <div id="sc">
                      <table BORDER="1" align=center style="width:1500px;height:1000px;color:black;font-size:40px;font-family:DFKai-sb;">

                      <tr>
                          <td>時間/星期</td>
                          <td>星期一</td>
                          <td>星期二</td>
                          <td>星期三</td>
                          <td>星期四</td>
                          <td>星期五</td>
                      </tr>
                      <tr>
                          <td>7:00-8:00</td>
                          <td><%=meetingnamemonday[0].meetingname %></td>
                          <td><%=meetingnametwo[0] %>  </td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>8:00-9:00</td>
                          <td><%=meetingnamemonday[1] %></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>9:00-10:00</td>
                          <td><%= meetingnamemonday[2]%></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>10:00-11:00</td>
                          <td><%= meetingnamemonday[3]%> </td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>11:00-12:00</td>
                          <td><%= meetingnamemonday[4]%></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                          <td>13:00-14:00</td>
                          <td><%= meetingnamemonday[5]%></td>
                          <td></td>
                          <td><%= realtest[0].meetingname%></td>
                          <td></td>
                          <td></td>
                      </tr>
                          <td>14:00-15:00</td>
                          <td><%= meetingnamemonday[6]%></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                      </tr>
                      <tr>
                      <td>15:00-16:00</td>
                      <td><%= meetingnamemonday[7]%></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
                     <tr>
                          <td>17:00-18:00</td>
                          <td><%= meetingnamemonday[8]%></td>
                          <td>  </td>
                          <td>  </td>
                          <td></td>
                          <td></td>
                      </tr>
                      </table>
                    </div>
                      
               
          
                  <!-- Scripts -->
                      <script src="/js/jquery.min.js"></script>
                      <script src="/js/jquery.poptrox.min.js"></script>
                      <script src="/js/skel.min.js"></script>
                      <script src="/js/util.js"></script>
                      <script src="/js/main.js"></script>
                      <script>function showTime(){
                          var today =new Date();
                          var h = today.getHours();
                          var m = today.getMinutes();
                          var s = today.getSeconds();
                          document.getElementById('time').innerHTML = h+":"+m+":"+s;
                          setTimeout(function(){showTime()},500);

                          
                      }</script>
          
              </body>
          </html>